
.profile {
    background: #02010a;
    border-radius: 12px;
    width: 340px;
    height: calc(90vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem .8rem;
    gap: 1rem;
}

.profile__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 200px;
}

.profile__image {
    border-radius: 6px;
}

.profile__title {
    padding: .5rem;
    border-radius: 5px;
    font-size: 1.1rem;

}

.profile__avatar span {
    content: '';
    background: linear-gradient(90deg, #97dffc 0%, #7364d2 50%, #5829a7 100%);
    height: 3px;
    width: 40%;
    margin-top: -4px;
}

.profile__social {
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.profile__social__icon {
    background: #090716;
    width: 40px;
    height: 40px;
    padding: .5rem;
    border-radius: 5px;
    transition: .3s ease-in-out;
    cursor: pointer;
    color: #fff;
}

.profile__social__icon:hover {
    color: #7364d2;
}

.profile__contact {
    padding: 0 .5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
    height: 250px;
    width: 290px;
}

.profile__contact__phone, .profile__contact__email, 
.profile__contact__localization {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.button__projects{
    color: #000;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 50px;
    border: none;
    padding: 1rem;
    background-image: linear-gradient(to right, #97dffc 0%, #7364d2 50%, #5829a7 100%);
    font-weight: 700;
    width: 90%;
    max-width: 250px;
    margin: 0 auto;
    margin-top: 1.5rem;
    background-size: 150% 100%;
    transition: all .4s ease-in-out;
}

.button__projects:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}

.button__projects:focus {
    outline: none;
}

@media (max-width: 1100px) {
    .profile {
        width: 100%;
        min-width: 340px;
        padding-top: 2rem;
        height: 100%;
    }
}

@media (max-width: 480px) {
   
    .profile__avatar{
        width: 60%;
    }
}
