
.repositories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: calc(90vh - 110px);
    gap: 3rem;
}

.repository {
    color: cornflowerblue;
    width: 350px;
    height: 350px;
    background: #02010a;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.repository__image__container {
    width: 100%;
}

.repository__image {
   width: 100%;
   border-radius: .5rem;
   transition: all .3s ease-in-out;
}

.repository__image:hover {
    opacity: .8;
}

.repository__title {
    background: linear-gradient(90deg, #97dffc 0%, #7364d2 50%, #5829a7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.repository__links {
    display: flex;
    gap: 1rem;
}

.repository__links__icon {
    color: #97dffc;
    font-size: 1.5rem;
    transition: .3s ease-in-out;
}

.repository__links__icon:hover{
    color: #7364d2;
}


@media (max-width: 770px){
    .repositories {
        height: 100%;
        margin: 3rem 0;
    }
}